
@{
    ViewData["Title"] = "Sökresultat";
}

@using HackTheCrisis.Views.Shared.Components
@model SearchPageViewModel
<ul class="nav nav-tabs" id="searchTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="health-care-tab" data-toggle="tab" href="#health-care" role="tab" aria-controls="health-care" aria-selected="true">Vårdens behov</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="industrial-tab" data-toggle="tab" href="#industrial" role="tab" aria-controls="industrial" aria-selected="false">Industrins erbjudanden</a>
        </li>
    </ul>

<div class="tab-content" id="searchTabContent">
    <div class="tab-pane active" id="health-care" role="tabpanel" aria-labelledby="health-care-tab">
        @(await Html.RenderComponentAsync<SearchListComponent>(RenderMode.ServerPrerendered, new { SearchResult = Model.NeedsTab.SearchResult, FilterOptions = Model.NeedsTab.FilterOptions }))
    </div>
    <div class="tab-pane" id="industrial" role="tabpanel" aria-labelledby="industrial-tab">
        @(await Html.RenderComponentAsync<SearchListComponent>(RenderMode.ServerPrerendered, new { SearchResult = Model.OffersTab.SearchResult, FilterOptions = Model.OffersTab.FilterOptions }))
    </div>
</div>