@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p><em>Industrial Remix to Save Lives</em> is a virtual marketplace;</p>
<ul>
    <li>for healthcare to state their needs,</li>
    <li>for industry actors to make their offers</li>
    <li>and subcontractors to describe their capabilities</li>
</ul>
<p>The service is curated by business advisors and matchmakers within the government, and experts such as medical tech professionals. Aiming to increase the speed to implementation, still adhering to regulations, and most of the different actors already on board.</p>
<h3>Background</h3>
<p>Industry has largely shut down its operations. Bleeding money. Workers are losing the jobs and sense of purpose. The economy is suffering at large.
At the same time, healthcare workers are on their way to exhaustion. Planned healthcare has to be postponed to focus on the urgent care in the intensive care units. Medical supplies and devices are running low. To replenish the supplies we are dependent on importing resources and devices, which is not a reliable strategy right now and perhaps in the near future due to the situation in other countries.
To fund the healthcare effort long-term we need to ramp up the production locally, to be self- sufficient. That will also engage society in the effort.</p>
<h3>Our mission</h3>
<p>We are building an end-to-end marketplace, of sorts. Instead of every government agency, healthcare actor and municipality having their own effort and webpage to let people know how to help out - we offer a common "marketplace".<br>
A website where industry and subcontractors can register what they can contribute with. It might be stocks of medtech supplies they don't need, employees better needed relieving the situation at the hospitals or retirement homes. Also for businesses willing to transform their operations to produce supplies needed in the covid19 effort.</p>