@{
    ViewData["Title"] = "Om tjänsten";
}
<h2>@ViewData["Title"]</h2>
<p><em>Industrial Remix to Save Lives</em> är en virtuell marknadsplats för;</p>
<ul>
    <li>hälso- och sjukvård att beskriva sina behov,</li>
    <li>industriaktörer att lista vad de kan erbjuda</li>
    <li>och underleverantörer att beskriva sina förmågor att bidra</li>
</ul>
<p>
Tjänsten bevakas av affärsrådgivare och matchmakare inom offentlig sektor och expertis inom medicinteknik. Vi syftar till att öka hastigheten till implementering, att fortfarande följa regelverk och flera olika aktörer är redan med.</p>
<h3>Bakgrund</h3>
<p>Industrin har till alldeles för stor del lagt ner sin verksamhet. De blöder pengar. Arbetstagare permitteras eller förlorar både sina jobb och känsla av syfte. Ekonomin lider i stort.

Samtidigt kämpar vårdpersonalen med att räcka till. Planerad hälso- och sjukvård måste skjutas upp för att fokusera på akutvård och intensivvården. Vi läser rubriker om att medicinska leveranser och apparater riskerar att ta slut. 

För att kunna få ihop det är vi delvis beroende av att importera resurser och produkter. Det är inte en pålitlig strategi just nu, och kanske inom en snar framtid heller, på grund av situationen i andra länder.<br>
För att finansiera vårdinsatserna på lång sikt måste vi öka produktionen lokalt för att vara mer självförsörjande. Det kommer också att engagera samhället i ansträngningen.</p>
<h3>Vårt mål</h3>
<p>Vi bygger en sorts end-to-end marknadsplats. Istället för att varje statlig myndighet, vårdaktör och kommun ska ha sin egen webbsida eller funktionsbrevlåda för att låta människor veta hur de kan hjälpa till – erbjuder vi en gemensam “marknadsplats”, specifikt för de som kan erbjuda något i större kvantiteter.<br>
En webbplats där industrin och underleverantörer kan registrera vad de kan bidra med. Det kan vara lager av medicintekniska produkter de inte behöver lika mycket som vården, anställda som behövs för att lindra situationen på sjukhus eller åldershem. Marknadsplatsen är också för de företag som är villiga att ställa om sin verksamhet för att producera det som behövs i covid19-ansträngningen.</p>
<h3>Whitepaper</h3>
<ul>
    <li><a href="https://vgrblogg.se/utveckling/2020/04/05/prototyp-industrial-remix-to-save-lives/">Om IndustrialREMIX</a></li>
    <li><a href="https://www.dropbox.com/s/64ii93miaw37gim/industrialremix-whitepaper-english.pdf?dl=0">Project submission during #HackTheCrisisSwe</a> (small PDF file, April, 2020)</li>
</ul>