@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>För support och förfrågningar:</strong> <a href="mailto:crew@industrialremix.se">crew@industrialremix.se</a><br />
</address>
<h3>Teamet</h3>
<p>Nedan är teamet från hacket:</p>
<ul>
    <li>IT-chef och scrum master - Martin Linderå Nordström (Norconsult)</li>
    <li>Innovationsledare – Steve Cook (Norconsult)</li>
    <li>Systemutvecklare – Anders Dahl (Norconsult)</li>
    <li>Rådgivare hälso- och sjukvård – Marcus Österberg (Västra Götalandsregionen)</li>
    <li>UX-expert – Filip Dalväg (Västra Götalandsregionen)</li>
    <li>Fullstack-utvecklare - Lucas Olsson (Preciofishbone)</li>
</ul>