@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Support and enqueries:</strong> <a href="mailto:crew@industrialremix.se">crew@industrialremix.se</a><br />
</address>
<h3>The team</h3>
<p>Below is the core crew from the hack:</p>
<ul>
    <li>IT manager and scrum master - Martin Linderå Nordström (Norconsult)</li>
    <li>Innovation advisor – Steve Cook (Norconsult)</li>
    <li>System developer – Anders Dahl (Norconsult)</li>
    <li>Health sector advisor – Marcus Österberg (Region Västra Götaland)</li>
    <li>UX expert – Filip Dalväg (Region Västra Götaland)</li>
    <li>Fullstack developer - Lucas Olsson (Preciofishbone)</li>
</ul>