@{
    ViewData["Title"] = "Frequently Asked Questions (FAQ)";
}

<h2>Frequently Asked Questions (FAQ)</h2>

<h3>Need help regarding the Medical Devices Regulation?</h3>
<p>If your organization is not already familiar with the European medtech regulation, please read the document linked below, from the EU Commission.</p>
<ul>
    <li><a href="https://ec.europa.eu/docsroom/documents/17921/attachments/1/translations">Guidance document Medical Devices - Scope, field of application, definition - Qualification and Classification of stand alone software - MEDDEV 2.1/6</a></li>
</ul>
<h3>How do I know what is classified as a medical device?</h3>
<p>The Swedish governmental agency Läkemedelsverket is responsible and offers som guidance at their website - see the article <a href="https://www.lakemedelsverket.se/sv/medicinteknik/tillverka/vagen-till-ce-market/ar-det-en-medicinteknisk-produkt">"Is it a medical device?"</a></p>
<p>In some cases the healthcare organizations might take over the responsibility. If you're unsure about the status of your offer regarding to this regulation please state that in your offer and perhaps som medtech specialist from healthcare or a subcontractor can help you out.</p>
<h3>Do you want to donate something?</h3>
<p>If you are representing a company or any legal entity, then thank you! Otherwise, this web service is not intended for personal gifts or minor quantities. But fortunately <a href="#">help-a-medic.se</a> has the maker community and others in their scope.</p>
<h3>Lending qualified staff to healthcare?</h3>
<p>Do you have hospitality staff readily available, electricians, plumbers or staff skilled in something that can be of use within healthcare, then yes, that is also of interest.</p>
<h3>How about subcontractors contributing with a resource or capability - not a finished product?</h3>
<p>Yes, even if you are not able to fulfill all the needs yourself, you can still enter your offer. But clearly state your capabilities or what service is on offer. Multiple subcontractors can be matched for needs either one did not anticipate themselves.</p>
<h3>Are you a subcontractor and need to find other subcontractors to jointly offer something?</h3>
<p>You don't have to offer a finished product or complete service. If your offer is contigent on other subcontractors or help from the healthcare/customer.</p>
<h3>How about procurement and economic reimbursement?</h3>
<p>Right now money is not the main issue. Depending on how the covid19 situation unfolds perhaps the regulations on public procurement will alter. Though, all registered healthcare units found at this service has been pre-vetted for you in the industry not to take on any financial risks.</p>
<h2>Other questions?</h2>
<p>Don't hesitate to contact our crew - for now only available by email - <a href="mailto:crew@industrialremix.se">crew@industrialremix.se</a> and we will get back to you in a timely manner.</p>