@{
    ViewData["Title"] = "Vanliga frågor (FAQ)";
    ViewData["Description"] = "Vanliga frågor om IndustrialREMIX och respektive svar.";
}

<h2>Vanliga frågor (FAQ)</h2>
<h3>Kan vi få hjälp med transport och logistik?</h3>
<p>Kolla med <a href="http://www.freelway.com/">freelway.com</a>, de bygger upp ett transportnät baserad bland annat på lediga taxichafförer.</p>
<h3>Behöver hjälp med det medicintekniska regelverket?</h3>
<p>Om din organisation inte redan känner till den europeiska det medicintekniska regelverket, läs dokumentet länkad nedan från EU-kommissionen.</p>
<ul>
    <li><a href="https://ec.europa.eu/docsroom/documents/17921/attachments/1/translations">Guidance document Medical Devices - Scope, field of application, definition - Qualification and Classification of stand alone software - MEDDEV 2.1/6</a></li>
</ul>
<h3>Hur vet jag vad som klassificeras som en medicinteknisk produkt?</h3>
<p>Den svenska myndigheten Läkemedelsverket är ansvarig tillsynsmyndighet och erbjuder en del tips på sin webbplats. Se bland annat följande artikel <a href="https://www.lakemedelsverket.se/sv/medicinteknik/tillverka/vagen-till-ce-market/ar-det-en-medicinteknisk-produkt">"Är det en medicinteknisk produkt?"</a></p>
<p>
I vissa fall kan sjukvårdsorganisationerna ta över ansvaret. Om du är osäker på statusen för ditt erbjudande angående denna föreskrift, vänligen ange det i ditt erbjudande och kanske någon medtech-specialist från sjukvården eller en underleverantör kan hjälpa dig.</p>
<h3>Vill du donera något?</h3>
<p>Om du företräder ett företag eller en juridisk person, tacka ska du ha! I övrigt är denna webbtjänst inte avsedd för personliga gåvor eller mindre mängder. Men lyckligtvis har andra dig inom sitt koncept.</p>
<ul>
    <li><a href="https://www.facebook.com/groups/494650038080423/">Sjukvårdshjälpen på Facebook</a></li>
    <li><em>help-a-medic</em> och andra från #HackTheCrisis kommer förhoppnignsvis snart igång med sina lösningar</li>
</ul>
<h3>Låna ut din kvalificerade personal till vården?</h3>
<p>Har du servicepersonal tillgänglig, elektriker, rörmokare eller annat som kan komma till nytta inom hälso- och sjukvården? Detta kan vara av intresse så lista gärna ditt företag och ditt erbjudande.</p>
<h3>Underleverantörer som kan erbjuda en enskild resurs eller förmåga, men inte en färdig produkt?</h3>
<p>Ja, även om du inte kan uppfylla hela behovet själv så kan du fortfarande ange ditt erbjudande. Men ange tydligt dina förmågor eller vilken tjänst som erbjuds. Flera underleverantörer kan matchas efter behov som inte är lätta att förutsåga för enskilda företagare.</p>
<h3>Underleverantör som behöver hitta andra för att tillsammans erbjuda något?</h3>
<p>Du måste inte kunna erbjuda en komplett produkt eller tjänst. Om ditt erbjudande är beroende av flera aktörer eller stöd från utomstående expertis är det bara att skriva det i ditt erbjudande.</p>
<h3>Hur funkar det med Lagen om Offentlig Upphandling (LoU) och ekonomisk ersättning?</h3>
<p>Just nu ges signaler både från regioner och nationellt om att det inte handlar om någon brist på pengar. Beroende på hur covid-situationen utvecklar sig för respektive organisation kan det vara aktuellt att göra avsteg från LoU, men det är inget man kan räkna med.<br>
Alla aktörer inom offentlig sektor du hittar på denna tjänst har granskats på förhand så du inte ska ta en onödig ekonomisk risk.</p>
<h2>Andra frågor?</h2>
<p>Tveka inte att kontakta vårt team - för närvarande endast via epost - <a href="mailto:crew@industrialremix.se">crew@industrialremix.se</a> och vi försöker återkomma till dig så fort som möjligt.</p>