@{
    ViewData["Title"] = "Frequently Asked Questions (FAQ)";
}

<h2>Frequently Asked Questions (FAQ)</h2>

<h3>Need help regarding the medical devices regulation?</h3>
<p></p>
<h3>How do I know what is classified as a medical device?</h3>
<p></p>
<h3>Do you want to donate something?</h3>
<p></p>
<h3>Lending qualified staff to healthcare?</h3>
<p></p>
<h3>How about subcontractors contributing with a resource or capability - not a finished product?</h3>
<p></p>
<h3>Are you a subcontractor and need to find other subcontractors to jointly offer something?</h3>
<p></p>
<h3>How about economic reimbursement?</h3>
<p></p>