@{
    ViewData["Title"] = "Home Page";
}
@model List<SearchResultViewModel>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/JumbotronIndustrial.png" alt="An empty industrial building with machines." class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <h2>Do you have available resources for production, transport, logistics or storage?</h2>
                    <a class="btn btn-orange" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Yes, we can supply
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/JumbotroHealthCare.png" alt="Health care professionals wearing facial masks in an operation room." class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <h2>Are you running out of medical equipment or supplies?</h2>
                    <a class="btn btn-orange" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Yes, find suppliers
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-6 homepage-col">
        <h3>Watch the introduction</h3>
        <iframe frameborder="0" width="560" height="315" src="https://biteable.com/watch/embed/industrial-remix-to-save-lives-2496984"></iframe>
    </div>
    <div class="col-md-6 homepage-col">
        <h3>Recently added</h3>
        <partial name="~/Views/Shared/_RecentlyAddedPartial.cshtml" for="@Model">
    </div>
</div>
