@{
    ViewData["Title"] = "Startsida";
}
@model IEnumerable<SearchResultViewModel>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/JumbotronIndustrial.png" alt="An empty industrial building with machines." class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <h2>Har du resurser tillgängliga för produktion, transport eller lager?</h2>
                    <a class="btn btn-orange" href="/">
                        Ja, vi kan bidra!
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/JumbotroHealthCare.png" alt="Health care professionals wearing facial masks in an operation room." class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <h2>Har ni brist på medicinsk utrustning eller andra resurser?</h2>
                    <a class="btn btn-orange" href="/">
                        Ja, vill leta bland leverantörerna
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Föregående</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Nästa</span>
    </a>
</div>

<div class="row introduction">
    <p>
        <span class="introduction-important">
            Corona-krisen har gett hälso- och sjukvården bekymmer med medicinsk utrustning
            <br />
            samtidigt har industriell produktion stannat av.
        </span>
        <br />
        <br />
        Genom att låta producerande verksamheter ställa om till mer kortsiktiga och livsuppehållande behov hålls både industrin igång samtidigt som det räddar liv. Ett win-win-scenario.
    </p>
</div>

<div class="row">
    <div class="col-md-6 homepage-col">
        <h3>Se introduktionsfilmen</h3>
        <iframe class="responsive-video" frameborder="0" width="560" height="315" src="https://biteable.com/watch/embed/industrial-remix-to-save-lives-2496984"></iframe>
    </div>
    <div class="col-md-6 homepage-col">
        <h3>Nyligen tillagda</h3>
        <partial name="~/Views/Search/_RecentlyAddedPartial.cshtml" for="@Model">
    </div>
</div>
