
@{
    ViewData["Title"] = "Legal";
}

<h2>Legal</h2>
<style>
.bgimage { width: 100%; height: 280px; background: url('https://swelife.se/wp-content/uploads/2019/04/spelpl-600x225.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed; }

        .bgimage h5 {
            color: white;
            text-shadow: 2px 2px #333;
        }
</style>
<section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Procurement information</h3>
                <p>We understand that the covid19 crisis is disrupting the industry. Though, until further notice healthcare actors cannot cut any corners regarding regulation such as <a href="http://www.konkurrensverket.se/en/publications-and-decisions/swedish-public-procurement-act/">the Swedish Public Procurement Act</a> (LoU, in Swedish).</p>
                <p>Fortunately, the strategic innovation programme, Swelife, have a simple overview, a "game plan" of sorts, explaining different scenarios to be in business with the regions and local authorities.</p>
                <p><a href="https://swelife.se/en/2019/05/02/game-plan-for-better-procurement-processes/" class="btn btn-primary btn-large">Swelife: Game plan for better procurement processes »</a></p>
            </div>
        </div>
    </div>
</section>
<h3>Privacy policy</h3>
<p>As a registered user; the information you enter into forms is to be used to fulfill the webservice's mission and intention - to connect organizations around supply and demand. When the user data is no longer needed it gets deleted permanently, except for eventual accounting rules.</p>
<p>As a visitor of the website; your browsing pattern is collected in an anonymous manner. With a masked IP address. The data will not and cannot be supplemented to other datasources or handed over to any third-partys.</p>