
@{
    ViewData["Title"] = "Registrera";
}

<h2>Registrera</h2>

<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" href="RegisterHealth">Registrera som hälso- och sjukvårdsorganisation, eller omsorg</a>
    <br />
    <a class="nav-item nav-link" href="RegisterIndustrial">Registrera som industriell partner</a>
</nav>

