
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" href="RegisterHealth">RegisterHealth</a>
    <br />
    <a class="nav-item nav-link" href="RegisterIndustrial">RegisterIndustrial</a>
</nav>

