@model List<SearchResultViewModel>

@*@if (Model != null && Model.Any())
{*@
    <div class="row recently-added">
        <ul class="list-group">
            @*@foreach (var item in Model)
        {
            var helpType = "";
            if (item.HelpType == HelpType.Needs)
            {
                helpType = "needs";
            }
            else
            {
                helpType = "can supply";
            }

            <li class="list-group-item">
                <strong>@item.Organization</strong> <span class="helpType">@helpType</span> <strong>@item.Item</strong>
            </li>



        }*@

            <li class="list-group-item">
                <strong>Mölnlycke vårdcentral</strong> <span class="helpType">needs</span> <strong>Munskydd</strong>
            </li>
            <li class="list-group-item">
                <strong>Volvo trucks</strong> <span class="helpType">can supply</span> <strong>Visir</strong>
            </li>
            <li class="list-group-item">
                <strong>Östra sjukhuset</strong> <span class="helpType">needs</span> <strong>Skyddskläder</strong>
            </li>
            <li class="list-group-item">
                <strong>SÄS</strong> <span class="helpType">needs</span> <strong>Respiratorer</strong>
            </li>
            <li class="list-group-item">
                <strong>Sahlgrenska Universitetssjukhuset</strong> <span class="helpType">needs</span> <strong>Handsprit</strong>
            </li>
        </ul>
        <a href="/">Find more...</a>
    </div>
@*}*@