@model List<SearchResultViewModel>
@using System.Globalization;

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {
                        <tr>
                            <td><a href="/">@item.Title</a></td>
                            <td>@item.Quantity</td>
                            <td>
                                <time datetime="@item.CreatedDate.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("sv-SE"))">
                                    Skapad: @item.CreatedDate.ToString("d MMMM yyyy", CultureInfo.CreateSpecificCulture("sv-SE"))
                                </time>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr>
        </div>
    </div>
}